.header {
	grid-area: h;
	background-color: #000;
	border: 3px solid #7B68EE;
	img {
		width: 85px;
		padding: 5px 5px 5px 0;
		display: inline-block;
	}
	.text {
		font-size: 25px;
		color: #7B68EE;
		display: inline-block;
		position: absolute;
		left: 45%;
		top: -5px;
	}
	.loginBlock {
		float: right;
		color: #fff;
		margin: 8px 15px 0 0;
		font-size: 23px;
		border: 2px solid #7B68EE;
		padding: 1px 5px 5px;
		.login {
			color: #fff;
		}
		.button {
			margin: 0;
			font-family: Arial, serif;
			border-radius: 30px;
			border: 3px solid #7B68EE;
		}
	}
	a {
		float: right;
		color: #fff;
	}
}