.header {
	grid-area: h;
	background-color: #000;
	border: 3px solid #7B68EE;
	img {
		width: 85px;
		padding: 5px 5px 5px 0;
		display: inline-block;
	}
	.text {
		font-size: 25px;
		color: #7B68EE;
		display: inline-block;
		position: absolute;
		left: 45%;
		top: -5px;
	}
	.loginBlock {
		float: right;
		color: #fff;
		margin: 10px 15px 0 0;
		font-size: 23px;
		padding: 1px 5px 5px;
		.login {
			color: #7B68EE;
			display: flex;
			img {
				width: 50px;
				border-radius: 10px;
				padding: 0 0 15px 0;
				margin: -7px 10px 0 0;
			}
		}
		.button {
			margin: 0 0 0 15px;
			font-family: Arial, serif;
			border-radius: 30px;
			border: 3px solid #7B68EE;
			height: 40px;
			background-color: white;
		}
	}
	a {
		float: right;
		color: #fff;
	}
	@media (max-width: 767px) {
		max-width: 767px;

	}
}