.content {
  background-color: #fff;
  border: 5px solid #7B68EE;
  margin: 0 10px 0 0;
}
.content .dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.content .dialogs .dialogsItems {
  padding: 10px;
}
.content .dialogs .dialogsItems a {
  color: black;
  text-decoration: none;
}
.content .dialogs .dialogsItems .active {
  color: gold;
}
.content .dialogs .dialogsItems .dialog {
  margin: 10px 5px;
}
.content .dialogs .dialogsItems .dialog .hr {
  height: 0.1px;
  width: 110px;
  background-color: white;
  color: white;
  margin: 0;
}
.content .dialogs .messages {
  padding: 10px;
}
.content .dialogs .messages .message {
  color: black;
}

.DialogsItemsImg {
  width: 50px;
  border-radius: 50%;
}

form h1 {
  color: #C53535;
  font-size: 22px;
  margin: 10px 0 10px 40px;
}
form .button {
  font-family: Arial, serif;
  border-radius: 30px;
  border: 3px solid #7B68EE;
  margin: 0 0 0 70px;
}